.layout {
  &__header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 8px solid #ff9800;
  }

  &__main {
    display: flex;
    background-color: #242425;

    &-wrapper {
      display: flex;
      flex-basis: 100%;
    }
  }
}