.search {
  flex: 0 0 calc(300px + 2rem);
  padding-right: 1rem;

  &__input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 2px;
  }

  &__button {
    width: 50px;
    vertical-align: middle;
    margin-left: 0.4rem;
    background-color: #111111;
  }

  &__button-icon {
    vertical-align: middle;
    padding: 5px 0;
    fill: white;
  }
}