/* Common */
@import "common/colors";
@import "common/common";
@import "common/normalize";

/* Blocks */
@import "blocks/layout";

@import "blocks/header/logo";
@import "blocks/header/middle-area";
@import "blocks/header/search";

@import "blocks/main/content-nav";
@import "blocks/main/content-main";
@import "blocks/main/content-sidebar";
@import "blocks/main/article-card";

@import "blocks/footer/footer-newsletter";
@import "blocks/footer/footer-mediatemple";
@import "blocks/footer/footer-colophon";
@import "blocks/footer/footer-input";


/* Media */
@media (max-width: 1085px) {
  .content-nav, .footer-newsletter__left,
  .footer-mediatemple__left, .footer-colophon__left {
    display: none;
  }

  .content-main, .footer-colophon__center,
  .footer-mediatemple__center, .footer-newsletter__center {
    flex: 4.5;
  }

  .content-sidebar {
    flex: 1.5;
  }
}

@media (max-width: 940px) {
  .footer-colophon__right, .footer-mediatemple__right, .footer-newsletter__right {
    display: none !important;
  }
}

@media (max-width: 735px) {
  .content-sidebar {
    display: none;
  }
}